@import "_normalize";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Inter:wght@300;400;700;800&display=swap");
//@import "_nullstyle";

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: black;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
.container {
  max-width: 1230px;
  padding: 0px, 15px;
  margin: 0 auto;
}
header {
  background-image: url(/image/header_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  position: relative;
}
header::before {
  content: "";
  position: absolute;
  background-image: url(/image/header_decor.svg);
  left: 0;
  right: 0;
  bottom: 0;
  height: 456px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateY(50%);
  z-index: 2;
}
header::after {
  content: "";
  position: absolute;
  background-image: url(/image/header_decor.svg);
  left: 0;
  right: 0;
  bottom: 0;
  height: 456px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateY(89%) rotate(180deg);
  z-index: 3;
}

.header__top {
  display: flex;
  align-items: center;
  padding: 57px 0px;
  gap: 100px;
  justify-content: flex-end;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
}
.logo path {
  transition: fill 0.6s ease;
}
.logo path:hover {
  fill: #0093a1;
}
.header__btn {
  padding: 12px 71px;
  background-color: #262c27;
  color: white;
  transition: background-color 0.6s ease;
  border: none;
  cursor: pointer;
}
.header__btn:hover {
  background-color: #b9c400;
}
//.header__phone{}
.header__content {
  min-height: calc(100vh - 161px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.header__content-box {
  min-width: 550px;
  text-align: center;
  color: #ffffff;
  margin-right: 30px;
  font-style: normal;
  font-weight: 700;
}
.header__title {
  text-transform: uppercase;
  font-size: 64px;
  font-family: "Comfortaa";
  line-height: 71px;
  margin-bottom: 20px;
}
.header__text {
  font-size: 24px;
  line-height: 27px;
  font-style: normal;
}
.header__text:not(:last-child) {
  margin-bottom: 20px;
}

.header__decor-text {
  position: absolute;
  bottom: 0px;
  color: #0093a1;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  font-size: 130px;
  line-height: 145px;
  opacity: 0.3;
}
.header__decor-text_1 {
  text-align: center;
  right: 170px;
  bottom: 0px;
}
.header__decor-text_2 {
  text-align: center;
  left: 265px;
  z-index: 4;
  bottom: -100px;
}
.header__decor-text_3 {
  font-family: "Inter";
  opacity: 1;
  max-width: 360px;
  right: 145px;
  z-index: 4;
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;
  font-style: italic;
  text-align: center;
  bottom: -100px;
}
//-----SECTION INFO----///
.info {
  background-image: url(/image/Background\ 2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.info::after {
  content: "";
  position: absolute;
  height: 160px;
  background-image: url(/image/Rectangle\ 1.svg);
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.info__top {
  display: flex;
  gap: 80px;
  padding-top: 270px;
  margin-bottom: 65vh;
  p {
    max-width: 290px;
    padding-top: 245px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;

    position: relative;
  }
}
img {
  z-index: 6;
  position: relative;
}
.info__btn {
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  position: absolute;
  bottom: 0;
  right: 0;
}
.info__btn path:hover {
  fill: #b9c400;
}
span {
  padding-top: 12px;
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.info__top_text--second {
  border-bottom: 1px solid #ffffff;
}
.info__top_text--first {
  padding-bottom: 120px;
}
